/* Override some defaults */
html, body {
  padding-top: 10px;
  background-color: #F2F2F2;
  line-height: 20px;
  font-size: 16px;
  color: #545454;
}

h1{
  font-family: 'Vollkorn', serif;
}

h1{
  font-size: 42px;
  line-height: 46px;
}
h2{
  font-size: 34px;
  line-height: 40px;
}
h3{
  font-size: 26px;
  line-height: 30px;
}
h4{
  font-size: 21px;
  line-height: 25px;
}
h5{
  font-weight: bold;
}

/* header */
.brand, a.brand:hover {
  color: #4F9C09;
  float: left;
  text-decoration: none;
}

.nav {
  padding-top: 16px;
}

.nav li{
  line-height; 36px;
  float: left;
  padding-right: 10px;
}

.nav a {
  color: #A0A0A0;
}

.nav .active a{
  color: #7C7C7C;
}

.nav li.active{
  font-weight: bold;
}

/* end header */

.container > footer {
  margin-top: 20px;
}

/* The white background content wrapper */
.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

.title, .author {
  display: inline;
}

.title, .title a {
  color: #A0A0A0;
}
